{% extends "base.html" %} {% block content %}

<div class="row" style="color: #5E5E5E;">

    <div class="col-md-6 col-md-push-3 " style=" padding-bottom:5em  ;">
        <h1 style="text-align:center;">About Us</h1>
        <hr>
        <div class="row" style="padding: 0 1em ;">
            <h2>Ahmed Hisham</h2>
            <p>Email : </p>
            <p>Section : </p>
            <p>Role In Project : </p>
        </div>
        <hr>
        <div class="row" style="padding: 0 1em;">
            <h2>Ahmed</h2>
            <p>Email : </p>
            <p>Section :</p>
            <p>Role In Project : </p>
        </div>
        <hr>
        <div class="row" style="padding: 0 1em;">
            <h2>Amr</h2>
            <p>Email : </p>
            <p>Section :</p>
            <p>Role In Project : </p>
        </div>
        <hr>

        <div class="row" style="padding: 0 1em;">
            <h2>Hosam</h2>
            <p>Email : hosamkora@gmail.com </p>
            <p>Section : 2</p>
            <p>Role In Project : Frontend Development </p>
        </div>
        <hr>
        <div class="row" style="padding: 0 1em;">
            <h2>Rimon</h2>
            <p>Email : </p>
            <p>Section :</p>
            <p>Role In Project : </p>
        </div>
    </div>
</div>

{% endblock content %} 
