{% extends 'base.html' %}

{% load backlog_extras %}

{% block content %} 
    <h1 class="text-center" style="font-family: monospace">Backlog</h1>
    <table class="table table-hover">
      <thead>
        <tr>
            <th>BackLogs</th>
            <th>Sprints</th>
            <th>Tasks</th>
            <th>start_At</th>
            <th>end_At</th>
        </tr>
      </thead>
      <tbody>
        {% for backlog in backlogs %}

              <tr>
                <td>
                    <a href="{% url 'backlog_sprints' backlog.pk %}" >{{ backlog.name }}</a> <br>
                </td>
                  <td>{{ backlog.sprints.all.count }}</td>


                  <td>{{ li|lookup:forloop.counter0}}</td>


                  <td>{{ backlog.start_at }}</td>
                  <td>{{ backlog.end_at}}</td>
              </tr>
        {% empty %}
            <tr> <td colspan="5">No BackLogs have been added yet.</td> </tr>

        {% endfor %}
      </tbody>
    </table>
    {% if request.user.is_admin %}
        <a href="{% url 'new_backlog' %}">
          <button type="button" class="btn btn-primary">Add To Backlog</button>
        </a>
    {% endif %}

{% endblock %}
