{% extends 'base.html' %}
{% block heading %}
  <h1>BackLogs</h1>
{% endblock %}

{% load backlog_extras %}

{% block content %}
    {% if request.user.is_admin %}
        <h1> <a href="{% url 'new_backlog' %}">New BackLog</a></h1>
    {% endif %}
    <table border="1">
      <thead>
        <tr>
            <th>BackLogs</th>
            <th>Sprints</th>
            <th>Tasks</th>
            <th>start_At</th>
            <th>end_At</th>
        </tr>
      </thead>
      <tbody>
        {% for backlog in backlogs %}

              <tr>
                <td>
                    <a href="{% url 'backlog_sprints' backlog.pk %}" >{{ backlog.name }}</a> <br>
                </td>
                  <td>{{ backlog.sprints.all.count }}</td>


                  <td>{{ li|lookup:forloop.counter0}}</td>


                  <td>{{ backlog.start_at }}</td>
                  <td>{{ backlog.end_at}}</td>
              </tr>

        {% endfor %}
      </tbody>
    </table>

{% endblock %}