{% extends 'base.html' %}

{% block title %}  New Sprint{% endblock %}



{% block content %}

<div class="row ">

        <div class="col-md-4 col-sm-8" style="margin-top: 5%">

            <form action="" method="POST" role="form">

                {% csrf_token %}

                <legend>Add New Task</legend>

                <div class="form-group">
                    <label for="">Task Name</label>
                    {{ form.name }}
                </div>


                <div class="form-group">
                    <label for="">DeadLine</label>
                    {{ form.dead_line }}
                </div>

                <div class="form-group">
                    <label for="">Description</label>
                    {{ form.description }}
                </div>


                <div class="form-group">
                    <label for="">Importance</label>
                    {{ form.importance }}
                </div>

                <button type="submit" class="btn btn-primary">Add</button>

            </form>

        </div>
    </div>

{% endblock %}