{% extends 'base.html' %}

{% block title %}
  {{ backlog.name }}
{% endblock %}



{% block content %}
<h1 class="text-center" style="font-family: monospace">Sprints</h1>
    
    <table class="table table-hover">
    <thead >
      <tr>
          <th>ID</th>
          <th>Sprint</th>
          <th>Tasks</th>
          <th>Start at</th>
          <th>End at</th>
          <th>State</th>
      </tr>
    </thead>
    <tbody>
      {% for sprint in backlog.sprints.all %}
        <tr>
            <td>{{ sprint.id }}</td>
            <td><a href="{% url 'sprint_tasks' backlog.pk sprint.pk%}">{{ sprint.name }}</a></td>
            <td>{{ sprint.tasks.all.count }}</td>
            <td>{{ sprint.start_at }}</td>
            <td>{{ sprint.end_at }}</td>
            <td>
                {% if sprint.state == 1 %} Not started {% elif sprint.state == 2 %} In-Progress {% else %} Completed {% endif %}
            </td>
        </tr>
      {% empty %}
            <tr> <td colspan="6">No Sprints have been added yet.</td> </tr>
      {% endfor %}
    </tbody>
  </table>
{% if request.user.is_admin %}
    {% if can_add %}
        <a href="{% url 'new_sprint' backlog.pk %}">
          <button type="button" class="btn btn-primary">New Sprint</button>
        </a>
    {% endif %}
{% endif %}
{% endblock %}

