{% extends 'base.html' %} {% block title %} {{ backlog.name }} {% endblock %} {% comment %} {% block heading %}
<h1>
    <a href="{% url 'home' %}">backlogs</a>/
    <a href="{% url 'backlog_sprints' backlog.pk %}">{{backlog.name}}</a>/{{sprint.name}}</h1>
{% endblock %} {% endcomment %} {% block content %}
<h1 class="text-center" style="font-family: monospace">Current Sprint Backlog</h1>

<form method="POST" action="{% url 'sprint_tasks' backlog.pk sprint.pk %}" name="form">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-2">
            <strong>Sort By :</strong>
            <select class="form-control" name="drop_down">
                <option value="1" onmouseup="javascript: submitform()">Importance</option>
                <option value="2" onmouseup="javascript: submitform()">Dead line</option>
            </select>
        </div>
    </div>
</form>


<script type="text/javascript">
    function submitform() {
        document.form.submit();
    }
</script>


<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Task</th>
            <th>Importance</th>
            <th>Start at</th>
            <th>End at</th>
            <th>description</th>
            <th>Assigned member</th>
            <th>Available Tasks</th>
            {% if request.user.is_admin %}
            <th>Change info</th>
            {% endif %}
        </tr>
    </thead>
    <tbody id="task">
        {% for task in all_tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.name }}</td>
            <td>{{ task.importance }}</td>
            <td>{{ task.start_at }}</td>
            <td>{{ task.end_at }}</td>
            <td>{{task.description}}</td>
            <td>{% if task.assigned_user %} {{task.assigned_user.id}}. {{task.assigned_user.first_name}} {{task.assigned_user.last_name}}
                {% else %} None {% endif %}
            </td>
            <td class="status">
                {% if task.status == 3 %} Completed {% else %} {% if not task.assigned_user %}
                <form method="POST" action="{% url 'sprint_tasks' backlog.pk sprint.pk %}">
                    {% csrf_token %}
                    <button type='submit' class="form-control" name="task" value="{{ task.id }}">Choose</button>
                </form>
                {% elif request.user == task.assigned_user and not request.user.is_admin%}
                <form method="POST" action="{% url 'sprint_tasks' backlog.pk sprint.pk %}">
                    {% csrf_token %}
                    <button type='submit' name="task" value="{{ task.id }}">Mark Done</button>
                </form>
                {% elif request.user == task.assigned_user and request.user.is_admin and task.status == 2 %}
                <form method="POST" action="{% url 'sprint_tasks' backlog.pk sprint.pk %}">
                    {% csrf_token %}
                    <button type='submit' class="form-control" name="task" value="{{ task.id }}">Mark Done</button>
                </form>
                {% elif request.user.is_admin %}
                <form method="POST" action="{% url 'sprint_tasks' backlog.pk sprint.pk%}">
                    {% csrf_token %}
                    <button type='submit' name="task" value="{{ task.id }}">Withdraw task</button>
                </form>
                {% else %} Already Chosen {% endif %} {% endif %}
            </td>
            {% if request.user.is_admin and task.status != 3%}
            <td>
                <form method="GET" action="{% url 'modify_task' backlog.pk sprint.pk%}">
                    {% csrf_token %}
                    <button type='submit' class="form-control" name="task" value="{{ task.id }}">Modify</button>
                </form>
            </td>
            {% endif %}

        </tr>
        {% endfor %}
    </tbody>
</table>

{% if request.user.is_admin %}
<a href="{% url 'new_task' backlog.pk sprint.pk %}">
    <button type="button" class="btn btn-primary">New Task</button>
</a>
{% endif %}

<script>
    var tasks = document.getElementsByClassName("status");
    console.log(tasks);
    Array.prototype.forEach.call(tasks, function(elem){
        console.log(elem.innerHTML.trim()=="Completed");
        if(elem.innerHTML.trim()=="Completed")
            elem.setAttribute("style" , "color:red");
        else
            elem.setAttribute("style" , "color:blue")
    });
</script>

{% endblock %}