{% extends 'base.html' %}

{% block title %}
  {{ backlog.name }}
{% endblock %}

{% block heading %}
   <h1><a href="{% url 'home' %}">backlogs</a>/<a href="{% url 'backlog_sprints' backlog.pk %}">{{backlog.name}}</a>/{{sprint.name}}</h1>
{% endblock %}

{% block content %}

    {% if request.user.is_admin %}
       <h1><a href="{% url 'new_task' backlog.pk sprint.pk %}">new task</a> </h1>
    {% endif %}

    <form method="POST" action="{% url 'sprint_tasks' backlog.pk sprint.pk %}" name="form">
        {% csrf_token %}
         Sort by <select name="drop_down">
              <option value="1" onmouseup="javascript: submitform()">Importance</option>
              <option value="2" onmouseup="javascript: submitform()">Dead line</option>
         </select>
    </form>

    <script type="text/javascript">

        function submitform(){
            document.form.submit();
        }
    </script>

    <br />
    <br />
    <br />

    <table border="1">
    <thead >
      <tr>
          <th>ID</th>
          <th>Task</th>
          <th>Importance</th>
          <th>Start at</th>
          <th>End at</th>
          <th>description</th>
          <th>Assigned member</th>
          <th>Available Tasks</th>
          {% if request.user.is_admin %}
                <th>Change info</th>
            {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for task in all_tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.name }}</td>
            <td>{{ task.importance }}</td>
            <td>{{ task.start_at }}</td>
            <td>{{ task.end_at }}</td>
            <td>{{task.description}}</td>
            <td>{% if task.assigned_user %}
                    {{task.assigned_user.id}}. {{task.assigned_user.first_name}} {{task.assigned_user.last_name}}
                {% else %}
                    None
                {% endif %}
            </td>
            <td>
                {% if task.status == 3 %}
                    Completed
                {% else %}
                    {% if not task.assigned_user %}
                    <form method="POST" action="{% url 'sprint_tasks' backlog.pk sprint.pk %}">
                        {% csrf_token %}
                        <button type='submit' name="task" value="{{ task.id }}">Choose</button>
                    </form>

                {% elif request.user == task.assigned_user and not request.user.is_admin%}
                    <form method="POST" action="{% url 'sprint_tasks' backlog.pk sprint.pk %}">
                        {% csrf_token %}
                        <button type='submit' name="task" value="{{ task.id }}">Mark Done</button>
                    </form>
                {% elif request.user == task.assigned_user and request.user.is_admin and task.status == 2  %}
                        <form method="POST" action="{% url 'sprint_tasks' backlog.pk sprint.pk %}">
                        {% csrf_token %}
                        <button type='submit' name="task" value="{{ task.id }}">Mark Done</button>
                    </form>
                    {% elif request.user.is_admin %}
                    <form method="POST" action="{% url 'sprint_tasks' backlog.pk sprint.pk%}">
                        {% csrf_token %}
                        <button type='submit' name="task" value="{{ task.id }}">Withdraw task</button>
                    </form>
                {% else %}
                    Already Chosen
                {% endif %}
            {% endif %}
            </td>
            {% if request.user.is_admin and task.status != 3%}
                <td>
                    <form method="GET" action="{% url 'modify_task' backlog.pk sprint.pk%}">
                        {% csrf_token %}
                        <button type='submit' name="task" value="{{ task.id }}">Modify</button>
                    </form>
                </td>
            {% endif %}

        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

