{% extends 'base.html' %}

{% block title %}
  {{ backlog.name }}
{% endblock %}

{% block heading %}
   <h1><a href="{% url 'home' %}">backlogs</a>/<a href="{% url 'backlog_sprints' backlog.pk %}">{{backlog.name}}</a>/{{sprint.name}}</h1>
{% endblock %}

{% block content %}
<h1><a href="{% url 'new_task' backlog.pk sprint.pk %}">new task</a> </h1>
     <table border="1">
    <thead >
      <tr>
          <th>ID</th>
          <th>Task</th>
          <th>Importance</th>
          <th>Start at</th>
          <th>End at</th>
          <th>description</th>
          <th>status</th>
      </tr>
    </thead>
    <tbody>
      {% for task in sprint.tasks.all %}
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.name }}</td>
            <td>{{ task.importance }}</td>
            <td>{{ task.start_at }}</td>
            <td>{{ task.end_at }}</td>
            <td>{{task.description}}</td>
            <td>{{task.status}}</td>

        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

